# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/aws/lambda/example/async_timeout/
/aws/lambda/example/async_timeout-4.0.3.dist-info/
/aws/lambda/example/redis/
/aws/lambda/example/redis-5.0.8.dist-info/
/aws/lambda/chatrooms/_distutils_hack/
/aws/lambda/chatrooms/async_timeout/
/aws/lambda/chatrooms/async_timeout-4.0.3.dist-info/
/aws/lambda/chatrooms/DateTime/
/aws/lambda/chatrooms/DateTime-5.5.dist-info/
/aws/lambda/chatrooms/pkg_resources/
/aws/lambda/chatrooms/pytz/
/aws/lambda/chatrooms/pytz-2024.2.dist-info/
/aws/lambda/chatrooms/redis/
/aws/lambda/chatrooms/redis-5.0.8.dist-info/
/aws/lambda/chatrooms/setuptools/
/aws/lambda/chatrooms/setuptools-75.1.0.dist-info/
/aws/lambda/chatrooms/zope/
/aws/lambda/chatrooms/zope.interface-7.0.3.dist-info/
/aws/lambda/chatrooms/distutils-precedence.pth
/aws/lambda/chatrooms/zope.interface-7.0.3-py3.11-nspkg.pth
